*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif;
}
.center{
    text-align: center;
    margin: 300px;
}
body{
    background: rgb(188,122,250);
    background: -moz-linear-gradient(90deg, rgba(188,122,250,1) 0%, rgba(146,122,250,1) 34%, rgba(177,222,231,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(188,122,250,1) 0%, rgba(146,122,250,1) 34%, rgba(177,222,231,1) 100%);
    background: linear-gradient(90deg, rgba(188,122,250,1) 0%, rgba(146,122,250,1) 34%, rgba(177,222,231,1) 100%);
}
h2{
    font-size: 60px;
}
button{
    font-size: 45px;
    cursor: pointer;
    border:1px solid purple;
    transition: 0.4s;
    margin: 10px;
    width: 150px;
    height: 80px;
}
button.bg-green:hover{
    background-color: #7afa7f;
    color: white;
}

button.bg-yellow:hover{
    background-color: rgba(255, 255, 10, 0.637);
    color: white;
}
button.bg-red:hover{
    background-color: #fa7aa2;
    color: white;
}
h1{
    font-size: 60px;
}
